:root {
    /* Colors */
    --color-text : #FFF;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #29466f;

    /* Fonts */
    --font-robot : "Roboto";
}